@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-primario: black;
    --color-secundario: rgb(27, 27, 27);
    --color-terciario: rgb(82, 82, 82);
    --color-letra: white;
    --font-monserrat: 'Montserrat'
}

body{
    background-color: var(--color-secundario);
    color: var(--color-letra);
    font-family: var(--font-monserrat), sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 60px;
    background-color: var(--color-primario);
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    max-width: 992px;
    justify-content: space-between;
    align-items: center;
    color: var(--color-letra);
    padding: 15px 30px;
    margin: 0 auto;
}

.nav__a{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-letra);
    text-decoration: none;
    margin-left: 15px;
}

.nav__ul{
    display: flex;
}

.ul__li{
    margin: 0 15px;
    text-decoration: none;
    list-style: none;
}

.ul__li > a {
    color: var(--color-letra);
    text-decoration: none;
    list-style: none;
}

nav > ul > li:hover{
    transform: scale(1.2, 1.2);
}

nav > ul > li > a:hover{
    
    color: var(--color-terciario);
}

.nav__toggle{
    color: var(--color-letra);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: none;
    cursor: pointer;
}

#inicio, #proyecto, #habilidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.inicio__h1{
    letter-spacing: 1.2px;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
}

.inicio__p, .proyecto__p, .skill__p{
    margin-bottom: 35px;
    font-weight: 400;
}

.inicio__h2, .proyecto__h2, .habilidad__h2, .form__h2{
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: 500;
}

.ejemplo{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    max-width: 1024px;
}

a{
    text-decoration: none;
    color: aqua; /* Cambiar el color */
}

.ejemplo__h4{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}

.ejemplo__img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.skill__img{
    width: 200px;
    margin-bottom: 20px;
}

.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form{
    max-width: 1024px;
    border-radius: 16px;
    padding: 48px 24px;
    margin: auto;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 100%;
    background-color: white;
    border-radius: 8px;
    color: var(--color-primario);
    padding-bottom: 20px;
}

.form__h2{
    text-align: center;
    padding-top: 15px;
}

.form-control{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    font-weight: 500;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.form__input{
    font-family: inherit;
    font-size: 16px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    width: 96%;
    margin: 0 auto;
}

.form__input--message{
    resize: none;
    padding: 22px 16px;
    margin-bottom: 8px;
}

/* Mensaje de error */
.form-control small {
    margin-left: 25px;
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

/* Fin error */

.form__button{
    font-family: inherit;
    border: none;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 96%;
    margin: 0 auto;
    background-color: var(--color-terciario);
}

button.form__button:hover {
    background-color: #2c3e50;
    transition: all 0.3s;
}

.footer{
    text-align: center;
    color: var(--color-letra);
    padding: 25px 0;
}

@media (max-width: 768px) {
    .nav__ul{
        flex-direction: column;
        align-items: center;
        background-color: #2c3e50;
        position: fixed;
        left: 100%;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: auto;
        transition: left 0.5s;
    }
    .ul__li{
        padding: 20px 0;
    }
    .nav__toggle{
        display: block;
    }
    .nav__ul__visible{
        left: 0;
    }
    .nav__toggle:focus:not(:focus-visible){
        outline: none;
    }

}

@media (min-width: 768px){
    .ejemplo{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: initial;
        column-gap: 25px;
    }

    .ejemplo > a{
        width: 60%;
    }

    .ejemplo__img{
        margin-bottom: 0;
    }

    .ejemplo__info{
        width: 40%;
        text-align: center;
    }
}

@media (min-width:1024px) {
    .inicio__h1{
        margin: 125px 0;
        font-size: 56px;
    }

    .inicio__h2, .proyecto__h2, .habilidad__h2, .form__h2{
        font-size: 36px;
    }

    .proyecto__p--2{
        margin-bottom: 100px;
    }

    .ejemplo{
        margin-bottom: 100px;
    }
}